body{
    padding-top: 20px;
}
.title{
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-indent: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.content{
    font-size: 14px;
    text-indent: 2em;
    display: none;
}
.content.cur{
    display: block;
}
.content .mac_change_name{
    width: 100%;
}
