#canvas{display:block;margin:0 auto;}
.control{margin:10px auto;}
#clear_btn{width:50px;height:20px;border:1px solid #333;float:right;font-size:14px;font-family:Microsoft Ya Hei,Arial;background-color:#eee;text-align:center;line-height:20px;border-radius:3px;margin-top:2px;}
#clear_btn:hover{background-color:#999;cursor:pointer;color:#fff;}
.clearfix{clear:both;}
.color-btn{width:20px;height:20px;float:left;margin-right:10px;border:3px solid white;}
.selected-color{border-color:violet;}
.color-btn:hover{border-color:blueviolet;cursor:pointer;}
#color-black{background:black;}
#color-green{background:green;}
#color-blue{background:blue;}
#color-red{background:red;}
#color-yellow{background:yellow;}