
:root {
  --cursor-link: url('/static/img/link.ico'), auto;
  --cursor-pointer: url('/static/img/pointer.ico'), pointer;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #49b1f5;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 20px;
}
body {
  background-color: #f3f3f3;
  cursor: var(--cursor-link, auto);
  font-size: 14px;
}
a {
  text-decoration: none;
  cursor: var(--cursor-pointer, pointer);
}
img {
  border: none;
  outline: none;
  vertical-align: top;
}
.cursor-pointer {
  cursor: var(--cursor-pointer, pointer);
}
.clear-float::after {
  content: '';
  display: block;
  clear: both;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.flex-row-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-around-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-start-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-space-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.flex-space-container-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-space-warp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-space-end-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.flex-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-right-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-column-space-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.flex-column-center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-column-nojust-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-column-center-space-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-column-center-end-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-column-center-around-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.card {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-anchor-box {
  position: relative;
  display: table;
  border: none !important;
}
.header-anchor-box .header-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4c4948;
}
.total-main {
  padding: 2rem 15px;
  max-width: 1200px;
  margin: 0 auto;
  color: #4c4948;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.total-main .total-m-l {
  width: 75%;
}
.total-main .total-m-r {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25%;
}

.card[data-v-ae4e4c96] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-ae4e4c96] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-container[data-v-ae4e4c96] {
  position: relative;
}
.frame-main-l[data-v-ae4e4c96] {
  width: 300px;
  background-color: #f6f8fa;
  height: 100%;
  padding: 1rem 0 2rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
}
.frame-main-l .main-l-title[data-v-ae4e4c96] {
  padding-right: 0.5rem;
  text-align: center;
  font-size: 1.3em;
}
.frame-main-l .main-l-content[data-v-ae4e4c96] {
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame-main-r[data-v-ae4e4c96] {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 300px;
}
.trans-enter-active[data-v-ae4e4c96],
.trans-leave-active[data-v-ae4e4c96] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.trans-enter[data-v-ae4e4c96],
.trans-leave-to[data-v-ae4e4c96] {
  opacity: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.transr-enter-active[data-v-ae4e4c96],
.transr-leave-active[data-v-ae4e4c96] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.transr-enter[data-v-ae4e4c96],
.transr-leave-to[data-v-ae4e4c96] {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.card[data-v-78468f4d] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-78468f4d] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.total-header[data-v-78468f4d] {
  position: absolute;
  top: 0;
  z-index: 99;
  padding: 10px 36px;
  width: 100%;
  height: 58px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
}
.total-header .header-title[data-v-78468f4d] {
  font-size: 18px;
}
.total-header .header-title .h-title-href[data-v-78468f4d] {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  font-weight: 700;
  color: #eee;
}
.total-header .header-tags .tags-item[data-v-78468f4d] {
  padding-left: 0.7rem;
}
.total-header .header-tags .tags-item .tags-item-ani[data-v-78468f4d] {
  color: #eee;
  position: relative;
  padding: 0.3rem 1px;
  overflow: hidden;
}
.total-header .header-tags .tags-item .tags-item-ani .fa[data-v-78468f4d] {
  padding-right: 0.3rem;
}
.total-header .header-tags .tags-item .tags-item-ani[data-v-78468f4d]:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #49b1f5;
  height: 3px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: -2;
}
.total-header .header-tags .tags-item:hover .tags-item-ani[data-v-78468f4d]:after {
  width: 100%;
}

.card[data-v-1c7d3fcc] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-1c7d3fcc] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.one-line-ellipsis[data-v-1c7d3fcc] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.expand-enter-active[data-v-1c7d3fcc],
.expand-leave-active[data-v-1c7d3fcc] {
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.article-tree-box .c-t-item .c-t-li[data-v-1c7d3fcc] {
  position: static;
  display: block;
  padding: 0.4rem 0.5rem 0.4rem 1.5rem;
  color: #4c4948;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-right: 2px solid transparent;
}
.article-tree-box .c-t-item .c-t-li .arrow-icon[data-v-1c7d3fcc] {
  float: right;
  height: 100%;
  padding: 0 0.3rem;
}
.article-tree-box .c-t-item .c-t-li .arrow-icon[data-v-1c7d3fcc]::before {
  content: "";
  display: inline-block;
  width: 8px;
  border: 1px solid currentColor;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: none;
  border-bottom: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  top: 2px;
}
.article-tree-box .c-t-item .c-t-li .arrow-icon[data-v-1c7d3fcc]::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.article-tree-box .c-t-item .c-t-li .arrow-icon-expand[data-v-1c7d3fcc]::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -2px;
}
.article-tree-box .c-t-item .hover-li-class[data-v-1c7d3fcc]:hover {
  background-color: rgba(73, 177, 245, 0.5);
  border-right-color: rgba(73, 177, 245, 0.5);
}
.article-tree-box .c-t-item .select-hover-li[data-v-1c7d3fcc] {
  background-color: #49b1f5;
  border-right-color: #49b1f5;
  color: white;
}

.card[data-v-209a3ed4] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-209a3ed4] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-container .home-warp[data-v-209a3ed4] {
  color: #eee;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  line-height: 1.6;
  text-align: center;
}
.home-container .home-warp .main-title[data-v-209a3ed4] {
  font-size: 2rem;
}
.home-container .home-warp .analog-sub-title[data-v-209a3ed4] {
  font-size: 1.2rem;
  margin-left: 0.8rem;
}
.home-container .home-warp .arrow-down[data-v-209a3ed4] {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 20px;
  opacity: 1;
  -webkit-animation: arrow-down-data-v-209a3ed4 1.5s infinite;
          animation: arrow-down-data-v-209a3ed4 1.5s infinite;
  text-align: center;
}
@-webkit-keyframes arrow-down-data-v-209a3ed4 {
0% {
    bottom: 0;
    opacity: 0.4;
}
50% {
    bottom: 16px;
    opacity: 1;
}
100% {
    bottom: 0;
    opacity: 0.4;
}
}
@keyframes arrow-down-data-v-209a3ed4 {
0% {
    bottom: 0;
    opacity: 0.4;
}
50% {
    bottom: 16px;
    opacity: 1;
}
100% {
    bottom: 0;
    opacity: 0.4;
}
}
.home-container .total-main .total-m-l .pagination-box[data-v-209a3ed4] {
  text-align: center;
}

.card[data-v-1d71b35f] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-1d71b35f] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.analog-input-box[data-v-1d71b35f] {
  position: relative;
}
.analog-input-box .cursor-style[data-v-1d71b35f] {
  font-size: 1.3em;
  position: relative;
  right: 1px;
}

.card[data-v-3e25daa3] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-3e25daa3] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-userInfo[data-v-3e25daa3] {
  text-align: left;
  margin-left: 15px;
}
.m-userInfo .common-title[data-v-3e25daa3] {
  font-size: 16px;
}
.m-userInfo .userInfo-card[data-v-3e25daa3] {
  text-align: center;
}
.m-userInfo .userInfo-card .userInfo-avatar .avatar-img[data-v-3e25daa3] {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 70px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.m-userInfo .userInfo-card .userInfo-avatar .avatar-img[data-v-3e25daa3]:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.m-userInfo .userInfo-card .userInfo-avatar .avatar-info-name[data-v-3e25daa3] {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2;
}
.m-userInfo .userInfo-card .userInfo-avatar .avatar-info-title[data-v-3e25daa3] {
  margin-bottom: 0.3rem;
}
.m-userInfo .userInfo-card .userInfo-data[data-v-3e25daa3] {
  padding: 0.7rem 0;
}
.m-userInfo .userInfo-card .userInfo-bookmark[data-v-3e25daa3] {
  display: block;
  position: relative;
  z-index: 1;
  background-color: #49b1f5;
  color: white;
  text-transform: uppercase;
  line-height: 1.6rem;
  font-weight: 500;
  border-radius: 3px;
}
.m-userInfo .userInfo-card .userInfo-bookmark[data-v-3e25daa3]:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff7242;
  z-index: -1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.m-userInfo .userInfo-card .userInfo-bookmark[data-v-3e25daa3]:hover:before {
  -webkit-transition: all 0.5s cubic-bezier(0.45, 1.64, 0.47, 0.66);
  transition: all 0.5s cubic-bezier(0.45, 1.64, 0.47, 0.66);
  width: 100%;
}
.m-userInfo .userInfo-card .userInfo-link[data-v-3e25daa3] {
  font-size: 1rem;
  margin: 0.3rem 0 -0.3rem;
  line-height: 2;
}
.m-userInfo .userInfo-card .userInfo-link .link-box .link-icon[data-v-3e25daa3] {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.m-userInfo .userInfo-card .userInfo-link .link-box .link-icon[data-v-3e25daa3]:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.m-userInfo .title-icon[data-v-3e25daa3] {
  margin-right: 0.2rem;
}
.m-userInfo .noti-card[data-v-3e25daa3] {
  margin-top: 1rem;
}
.m-userInfo .noti-card .noti-title[data-v-3e25daa3] {
  font-size: 16px;
}
.m-userInfo .noti-card .noti-title .bullhorn-icon[data-v-3e25daa3] {
  color: red;
  -webkit-animation: bullhorn-icon-data-v-3e25daa3 0.8s linear infinite;
          animation: bullhorn-icon-data-v-3e25daa3 0.8s linear infinite;
}
@-webkit-keyframes bullhorn-icon-data-v-3e25daa3 {
0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
}
@keyframes bullhorn-icon-data-v-3e25daa3 {
0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
}
.m-userInfo .noti-card .noti-con[data-v-3e25daa3] {
  line-height: 2;
  margin-top: 0.3rem;
}
.m-userInfo .latest-card[data-v-3e25daa3] {
  margin-top: 1rem;
}
.m-userInfo .latest-card .latest-news-box[data-v-3e25daa3] {
  margin-top: 10px;
  margin-bottom: -15px;
}
.m-userInfo .latest-card .latest-news-box .l-n-item[data-v-3e25daa3] {
  margin-bottom: 10px;
}
.m-userInfo .latest-card .latest-news-box .l-n-item .news-img-box[data-v-3e25daa3] {
  width: 66px;
  height: 66px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.m-userInfo .latest-card .latest-news-box .l-n-item .news-img-box .news-img[data-v-3e25daa3] {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.m-userInfo .latest-card .latest-news-box .l-n-item .news-text[data-v-3e25daa3] {
  display: -webkit-box;
  overflow: hidden;
  padding-left: 10px;
  height: 40px;
  line-height: 1rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m-userInfo .latest-card .latest-news-box .l-n-item .news-time[data-v-3e25daa3] {
  padding-left: 10px;
  color: #858585;
  font-size: 0.6rem;
  margin-top: 12px;
}
.m-userInfo .latest-card .latest-news-box:hover .news-img[data-v-3e25daa3] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.m-userInfo .latest-card .latest-news-box:hover .news-text[data-v-3e25daa3] {
  color: #49b1f5;
}

.card[data-v-5c440614] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-5c440614] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-box[data-v-5c440614] {
  height: 280px;
  border-radius: 8px;
  background-color: white;
  padding: 0;
  overflow: hidden;
}
.article-box[data-v-5c440614]:not(:first-child) {
  margin-top: 1rem;
}
.article-box .img-order-l[data-v-5c440614] {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.article-box .img-order-r[data-v-5c440614] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.article-box .article-img-box[data-v-5c440614] {
  width: 45%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
}
.article-box .article-img-box > div[data-v-5c440614] {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.article-box .article-content[data-v-5c440614] {
  width: 55%;
  padding: 0 40px;
  text-align: left;
}
.article-box .article-content .article-title[data-v-5c440614] {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0.3rem;
  color: #4c4948;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.article-box .article-content .article-meta[data-v-5c440614] {
  font-size: 95%;
}
.article-box .article-content .article-meta .article-tag[data-v-5c440614] {
  color: #ff7242;
  border-right: 1px solid #858585;
  padding-right: 5px;
}
.article-box .article-content .article-meta .article-date[data-v-5c440614] {
  border-right: 1px solid #858585;
  padding-right: 5px;
  padding-left: 3px;
}
.article-box .article-content .article-meta .article-des[data-v-5c440614] {
  padding-left: 3px;
}
.article-box .article-content .article-text[data-v-5c440614] {
  line-height: 2;
  margin-top: 0.3rem;
}
.article-box:hover .article-img-box > div[data-v-5c440614] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.article-box:hover .article-title[data-v-5c440614] {
  color: #49b1f5;
}

.card[data-v-602ccd28] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-602ccd28] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.music-container .music-wrap[data-v-602ccd28] {
  background-color: rgba(0, 0, 0, 0.6);
  height: 20rem;
}

.card[data-v-50ec5900] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-50ec5900] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card[data-v-4e03fab2] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-4e03fab2] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my-container[data-v-4e03fab2] {
  text-align: left;
}
.markdown-body[data-v-4e03fab2] {
  background-color: white;
}

.card[data-v-70c83d12] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-70c83d12] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.categories-container .categories-wrap[data-v-70c83d12] {
  background-color: rgba(0, 0, 0, 0.6);
  height: 20rem;
}

.card[data-v-bc533a24] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-bc533a24] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.catalog-tree-box .c-t-item[data-v-bc533a24] {
  position: relative;
  padding-left: 0.5rem;
}
.catalog-tree-box .c-t-item .c-t-li[data-v-bc533a24] {
  position: relative;
  padding: 0.4rem 0.5rem 0.4rem 1.5rem !important;
}
.catalog-tree-box .c-t-item .c-t-li[data-v-bc533a24]::before {
  top: 50%;
  margin-left: 0.45rem;
  width: 0.3rem;
  height: 0.3rem;
  border: 0.15rem solid #49b1f5;
  border-radius: 0.3rem;
  background: 0 0;
  content: '';
  line-height: 0.3rem;
  position: absolute;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.catalog-tree-box .c-t-item .c-t-li[data-v-bc533a24]:hover::before {
  border-color: #ff7242;
}
.catalog-tree-box .c-t-item .c-t-li:hover .c-t-li-title[data-v-bc533a24] {
  color: #49b1f5;
}

.card[data-v-465794c8] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-465794c8] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-container[data-v-465794c8] {
  text-align: left;
}
.article-container .article-warp[data-v-465794c8] {
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.article-container .article-warp .article-warp-info[data-v-465794c8] {
  position: absolute;
  bottom: 1.5rem;
  padding: 0 8%;
  width: 100%;
  color: #eee;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}
.article-container .article-warp .article-warp-info .article-warp-title[data-v-465794c8] {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}
.article-container .article-warp .article-warp-info .article-wrap-meta[data-v-465794c8] {
  font-size: 95%;
}
.article-container .article-warp .article-warp-info .article-wrap-meta .meta-line-time i[data-v-465794c8] {
  margin-right: 0.2rem;
}
.article-container .article-warp .article-warp-info .article-wrap-meta .meta-vertical-line[data-v-465794c8] {
  margin: 0 0.1rem;
}
.article-container .article-content-box[data-v-465794c8] {
  margin: 0 auto;
  padding: 2rem 15px;
}
.article-container .article-content-box .card[data-v-465794c8] {
  padding: 50px 40px;
  border-radius: 8px;
}

.card[data-v-2524af5e] {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis[data-v-2524af5e] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.categories-container .categories-wrap[data-v-2524af5e] {
  background-color: rgba(0, 0, 0, 0.6);
  height: 20rem;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
          box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}
.one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error-page[data-v-1b4ccd11]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.error-code[data-v-1b4ccd11]{
    line-height: 1;
    font-size: 250px;
    font-weight: bolder;
    color: #2d8cf0;
}
.error-code span[data-v-1b4ccd11]{
    color: #00a854;
}
.error-desc[data-v-1b4ccd11]{
    font-size: 30px;
    color: #777;
}
.error-handle[data-v-1b4ccd11]{
    margin-top: 30px;
    padding-bottom: 200px;
}
.error-btn[data-v-1b4ccd11]{
    margin-left: 100px;
}

.error-page[data-v-5f9c1d72]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.error-code[data-v-5f9c1d72]{
    line-height: 1;
    font-size: 250px;
    font-weight: bolder;
    color: #f02d2d;
}
.error-code span[data-v-5f9c1d72]{
    color: #00a854;
}
.error-desc[data-v-5f9c1d72]{
    font-size: 30px;
    color: #777;
}
.error-handle[data-v-5f9c1d72]{
    margin-top: 30px;
    padding-bottom: 200px;
}
.error-btn[data-v-5f9c1d72]{
    margin-left: 100px;
}
