@main-color: #4c4948;
@gray-color: #eee;
@blue-color: #49b1f5;
@orange-color: #ff7242;
@red-color: #ff7242;
@grag-time-color: #858585;
@opacity-bg: rgba(0, 0, 0, 0.5);
@catagory-bg: #f6f8fa;

@banner-height: 20rem;

.card {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
}

.one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}