:root {
  --cursor-link: url('/static/img/link.ico'), auto;
  --cursor-pointer: url('/static/img/pointer.ico'), pointer;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #49b1f5;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 20px
}

body {
  background-color: #f3f3f3;
  cursor: var(--cursor-link, auto);
  font-size: 14px;
}

a {
  text-decoration: none;
  cursor: var(--cursor-pointer, pointer);
}

.clear-float::after {
  content: '';
  display: block;
  clear: both;
}

.move-enter-active,
.move-leave-active {
  transition: opacity .5s;
}

.move-enter,
.move-leave {
  opacity: 0;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-row-warp {
  display: flex;
  flex-flow: row wrap;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.flex-row-center-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.flex-around-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.flex-start-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-wrap-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-space-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-space-container-end {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-space-warp-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-space-end-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.flex-center-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.flex-right-bottom-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-right-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.flex-column-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.flex-column-space-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.flex-column-center-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-column-nojust-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-column-center-space-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.flex-column-center-end-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.flex-column-center-around-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.flex-grow {
  flex: 1;
}

.flex-stretch {
  align-items: stretch;
}