body,
div,
p,
span,
ul,
li,
dl,
dt,
dd,
a,
ol,
input,
img,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "microsoft yahei", "宋体";
    color: #616161;
    font-size: 12px;
    height: 100%;
}

.scroll {
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.forbid_scroll {
    overflow: hidden;
}

input {
    background-color: transparent;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2,
h3 {
    font-weight: normal;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

html,
body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    -webkit-user-drag: none;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row-warp {
    display: flex;
    flex-flow: row wrap;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-row-center-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.flex-around-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.flex-start-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-wrap-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-space-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex-space-container-end {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.flex-space-warp-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-space-end-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.flex-center-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.flex-right-bottom-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-right-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-column-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.flex-column-space-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.flex-column-center-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.flex-column-nojust-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-column-center-space-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.flex-column-center-end-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-column-center-around-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.flex-grow {
    flex: 1;
}

.flex-stretch {
    align-items: stretch;
}

[v-cloak] {
    display: none; /*vueJs 防止显示代码*/
}

.absolute {
    height: 100%;
    width: 100%;
    position: absolute;
}

.position_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input::-webkit-input-placeholder {
    color: #8d8d8d;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8d8d8d;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8d8d8d;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8d8d8d;
}

